*.iml
.idea
conf/acl.auth.php
conf/local.php
conf/local.php.bak
conf/local.php.save
conf/local.protected.php
conf/plugins.local.php
conf/plugins.local.php.bak
conf/plugins.php
conf/users.auth.php
data/attic/*
data/cache/*
data/index/*
data/locks/*
data/media/*
data/media_attic/*
data/media_meta/*
data/meta/*
data/pages/*
data/pages/wiki/*
data/tmp/*

inc/lang/*
!inc/lang/en
!inc/lang/nl

lib/plugins/indexmenu/images/doku/*

lib/plugins/*/lang/*
!lib/plugins/*/lang/en
!lib/plugins/*/lang/nl

lib/tpl/dokuwiki/lang/*
!lib/tpl/dokuwiki/lang/en
!lib/tpl/dokuwiki/lang/nl