*.iml
.idea
conf/acl.auth.php
conf/local.php
conf/local.php.bak
conf/local.php.save
conf/local.protected.php
conf/plugins.local.php
conf/plugins.local.php.bak
conf/plugins.php
conf/users.auth.php
data/attic/*
data/cache/*
data/index/*
data/locks/*
data/media/*
data/media_attic/*
data/media_meta/*
data/meta/*
data/pages/*
data/pages/wiki/*
data/tmp/*
inc/lang/af
inc/lang/ar
inc/lang/az
inc/lang/bg
inc/lang/ca
inc/lang/ca-valencia
inc/lang/cs
inc/lang/da
inc/lang/de
inc/lang/de-informal
inc/lang/el
inc/lang/eo
inc/lang/es
inc/lang/et
inc/lang/eu
inc/lang/fa
inc/lang/fi
inc/lang/fo
inc/lang/fr
inc/lang/gl
inc/lang/he
inc/lang/hi
inc/lang/hr
inc/lang/hu
inc/lang/ia
inc/lang/id
inc/lang/id-ni
inc/lang/is
inc/lang/it
inc/lang/ja
inc/lang/km
inc/lang/ko
inc/lang/ku
inc/lang/la
inc/lang/lb
inc/lang/lt
inc/lang/lv
inc/lang/mg
inc/lang/mk
inc/lang/mr
inc/lang/ne
inc/lang/no
inc/lang/pl
inc/lang/pt
inc/lang/pt-br
inc/lang/ro
inc/lang/ru
inc/lang/sk
inc/lang/sl
inc/lang/sq
inc/lang/sr
inc/lang/sv
inc/lang/th
inc/lang/tr
inc/lang/uk
inc/lang/vi
inc/lang/zh
inc/lang/zh-tw
lib/plugins/acl/lang/af
lib/plugins/acl/lang/ar
lib/plugins/acl/lang/az
lib/plugins/acl/lang/bg
lib/plugins/acl/lang/ca
lib/plugins/acl/lang/ca-valencia
lib/plugins/acl/lang/cs
lib/plugins/acl/lang/da
lib/plugins/acl/lang/de
lib/plugins/acl/lang/de-informal
lib/plugins/acl/lang/el
lib/plugins/acl/lang/eo
lib/plugins/acl/lang/es
lib/plugins/acl/lang/et
lib/plugins/acl/lang/eu
lib/plugins/acl/lang/fa
lib/plugins/acl/lang/fi
lib/plugins/acl/lang/fo
lib/plugins/acl/lang/fr
lib/plugins/acl/lang/gl
lib/plugins/acl/lang/he
lib/plugins/acl/lang/hi
lib/plugins/acl/lang/hr
lib/plugins/acl/lang/hu
lib/plugins/acl/lang/ia
lib/plugins/acl/lang/id
lib/plugins/acl/lang/id-ni
lib/plugins/acl/lang/is
lib/plugins/acl/lang/it
lib/plugins/acl/lang/ja
lib/plugins/acl/lang/km
lib/plugins/acl/lang/ko
lib/plugins/acl/lang/ku
lib/plugins/acl/lang/la
lib/plugins/acl/lang/lb
lib/plugins/acl/lang/lt
lib/plugins/acl/lang/lv
lib/plugins/acl/lang/mg
lib/plugins/acl/lang/mk
lib/plugins/acl/lang/mr
lib/plugins/acl/lang/ne
lib/plugins/acl/lang/no
lib/plugins/acl/lang/pl
lib/plugins/acl/lang/pt
lib/plugins/acl/lang/pt-br
lib/plugins/acl/lang/ro
lib/plugins/acl/lang/ru
lib/plugins/acl/lang/sk
lib/plugins/acl/lang/sl
lib/plugins/acl/lang/sq
lib/plugins/acl/lang/sr
lib/plugins/acl/lang/sv
lib/plugins/acl/lang/th
lib/plugins/acl/lang/tr
lib/plugins/acl/lang/uk
lib/plugins/acl/lang/vi
lib/plugins/acl/lang/zh
lib/plugins/acl/lang/zh-tw
lib/plugins/config/lang/af
lib/plugins/config/lang/ar
lib/plugins/config/lang/az
lib/plugins/config/lang/bg
lib/plugins/config/lang/ca
lib/plugins/config/lang/ca-valencia
lib/plugins/config/lang/cs
lib/plugins/config/lang/da
lib/plugins/config/lang/de
lib/plugins/config/lang/de-informal
lib/plugins/config/lang/el
lib/plugins/config/lang/eo
lib/plugins/config/lang/es
lib/plugins/config/lang/et
lib/plugins/config/lang/eu
lib/plugins/config/lang/fa
lib/plugins/config/lang/fi
lib/plugins/config/lang/fo
lib/plugins/config/lang/fr
lib/plugins/config/lang/gl
lib/plugins/config/lang/he
lib/plugins/config/lang/hi
lib/plugins/config/lang/hr
lib/plugins/config/lang/hu
lib/plugins/config/lang/ia
lib/plugins/config/lang/id
lib/plugins/config/lang/id-ni
lib/plugins/config/lang/is
lib/plugins/config/lang/it
lib/plugins/config/lang/ja
lib/plugins/config/lang/km
lib/plugins/config/lang/ko
lib/plugins/config/lang/ku
lib/plugins/config/lang/la
lib/plugins/config/lang/lb
lib/plugins/config/lang/lt
lib/plugins/config/lang/lv
lib/plugins/config/lang/mg
lib/plugins/config/lang/mk
lib/plugins/config/lang/mr
lib/plugins/config/lang/ne
lib/plugins/config/lang/no
lib/plugins/config/lang/pl
lib/plugins/config/lang/pt
lib/plugins/config/lang/pt-br
lib/plugins/config/lang/ro
lib/plugins/config/lang/ru
lib/plugins/config/lang/sk
lib/plugins/config/lang/sl
lib/plugins/config/lang/sq
lib/plugins/config/lang/sr
lib/plugins/config/lang/sv
lib/plugins/config/lang/th
lib/plugins/config/lang/tr
lib/plugins/config/lang/uk
lib/plugins/config/lang/vi
lib/plugins/config/lang/zh
lib/plugins/config/lang/zh-tw
lib/plugins/discussion/lang/ko
lib/plugins/indexmenu/images/doku/*

lib/plugins/popularity/lang/*
!lib/plugins/popularity/lang/en
!lib/plugins/popularity/lang/nl

lib/plugins/revert/lang/*
!lib/plugins/revert/lang/en
!lib/plugins/revert/lang/nl

lib/plugins/usermanager/lang/*
!lib/plugins/usermanager/lang/en
!lib/plugins/usermanager/lang/kk
!lib/plugins/usermanager/lang/nl